GOOGLE_GENAI_USE_VERTEXAI=0
GOOGLE_API_KEY=<YOUR-GOOGLE-API-KEY>

FRONTEND_WEB_HOST=http://localhost:5123

STACK_PROJECT_ID=<YOUR-STACK-AUTH-PROJECT-ID>
JWKS_URL=https://api.stack-auth.com/api/v1/projects/<YOUR-STACK-AUTH-PROJECT-ID>/.well-known/jwks.json
JWT_ISSUER=https://api.stack-auth.com/api/v1/projects/<YOUR-STACK-AUTH-PROJECT-ID>
JWKS_CACHE_TIME=3600